
/** You shouldn't be reading this.
It is a taboo to read someone else's CSS files.*/


@font-face {
    font-family: 'cuyabra-Bold';
    src: url('../fonts/cuyabra-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/cuyabra-Bold.otf') format('opentype'),
    url('../fonts/cuyabra-Bold.woff') format('woff'),
    url('../fonts/cuyabra-Bold.ttf') format('truetype'),
    url('../fonts/cuyabra-Bold.svg#cuyabra-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cuyabra-Regular';
    src: url('../fonts/cuyabra-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/cuyabra-Regular.otf') format('opentype'),
    url('../fonts/cuyabra-Regular.woff') format('woff'),
    url('../fonts/cuyabra-Regular.ttf') format('truetype'),
    url('../fonts/cuyabra-Regular.svg#cuyabra-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}


